@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"
@import "./styles/hamburger-menu"

@mixin sticky-header-mixin()
  background: linear-gradient(176.98deg, #5C2774 0%, #335CC5 49.97%, #637FFD 100%)
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1)
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1)

.mobile-logo
  display: none
  @include media-breakpoint-down(sm)
    display: inline-block


.fixed-top
  background-color: transparent!important
  color: $white
  height: 65px
  @include media-breakpoint-down(md)
    height: auto


  &.sticky
    @include sticky-header-mixin()
    padding: 0.5rem 1rem

  @include media-breakpoint-down(sm)
    @include sticky-header-mixin()



#collapsable-nav-content
  @extend %type-defaults

  a
    font-size: 14px
    line-height: 16px
    color: $white

  .navbar-logo
    @include media-breakpoint-down(md)
      display: none
    @include media-breakpoint-down(sm)
      display: none

.header-gradient-background-overlay
  position: relative
  z-index: 3
  background-position: center center
  background-size: cover

.header-gradient-background-overlay:before
  content: ""
  position: absolute
  height: 100%
  width: 100%
  z-index: -1
  top: 0
  left: 0
  background: linear-gradient(176.98deg, #5C2774 0%, #335CC5 49.97%, #637FFD 100%)

.navbar-big-padding
  padding: 2rem 1rem
  @include media-breakpoint-down(md)
    padding: 0 15px

  ul.navbar-nav
    @include media-breakpoint-down(md)
      padding-bottom: 20px
    li.nav-item:not(:last-child)
      margin-right: 1rem
      @include media-breakpoint-down(md)
        margin: 0
.navbar-inner
  @include media-breakpoint-down(md)
    height: 65px
    display: flex
    align-items: center

.navbar-toggler
  @include media-breakpoint-down(md)
    margin-left: -12px
