@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"


.profile-builder-cancellation
  .cancellation-block
    border: 1px solid $soft_gray
    padding: 30px 34px
    border-radius: 4px
    &:not(:first-child)
      margin-top: 20px
    .label-title
      @extend %news-gothic-bold
      font-size: 16px
      color: black
      display: block
      position: relative
      top: 5px
      padding-bottom: 16px
    .label-text
