@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"


.profile-builder-gym-location
  // @include media-breakpoint-up(lg)
  .profile-builder-block-checkbox
    padding-top: 30px
  .checkbox-block
    font-size: 14px
    color: #000
    &:first-child
      margin-bottom: 20px
    em
      font-style: normal
      color: $gray-muted
