@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"


.profile-builder-upload
  #merchant-images-form
    display: none
  .profile-builder-upload-top-text
    font-size: 14px
    padding-bottom: 8px

  .profile-builder-upload-block
    max-width: 270px
    height: 123px
    background: $soft_gray
    border-radius: 2px
    display: flex
    justify-content: center
    align-items: center
    span
      @extend %news-gothic-bold
      font-size: 12px
      color: $light-blue

  .profile-builder-upload-current-image
    border-radius: 14px
    position: relative
    display: inline-block
    max-width: 460px
    img
      border-radius: 4px
      display: block
      max-width: 100%
    i
      position: absolute
      bottom: 15px
      right: 15px
      font-size: 22px
      color: white
      cursor: pointer

  .profile-builder-upload-additional
    .profile-builder-upload-additional-title
      padding-top: 18px
      font-size: 14px
      padding-bottom: 6px
    .profile-builder-upload-additional-subtitle
      padding-bottom: 18px
      font-size: 12px
      color: $gray-muted
    .profile-builder-upload-additional-plus
      width: 80px
      height: 80px
      background: $soft_gray
      border-radius: 2px
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      span
        @extend %news-gothic-bold
        font-size: 30px
        color: $light-blue
        margin-top: 7px
