@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"


.profile-builder-payment
  .payment-list
    padding-top: 30px
    p
      margin: 0
      font-size: 14px
      color: black
      &:not(:first-child)
        padding-top: 15px
