@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"


.profile-builder-form
  .profile-builder-field-block
    label
      font-size: 14px
      em
        color: $gray-muted
        font-style: normal

.profile-builder-form-bottom-text
  color: $gray-muted
  font-size: 14px
.profile-builder-form-footer
  padding-top: 30px
  .btn
    width: 124px
