@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"


.profile-builder-rules
  .range-block
    font-size: 14px
  .grey-text
    color: $gray-muted
  .profile-builder-field-block
    @include media-breakpoint-down(md)
      &:not(:first-child)
        margin-top: 12px
