@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"


.profile-builder-specialization
  .profile-builder-field-block
    @include media-breakpoint-down(md)
      &:not(:first-child)
        margin-top: 12px
    .checkbox-block
      font-size: 16px
      &:not(:first-child)
        margin-top: 20px
