@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"


.profile-builder-start
  // @include media-breakpoint-up(lg)
  .profile-builder-start-top-block
    margin-bottom: 60px
    .start-title
      @extend %news-gothic-bold
      font-size: 20px
      line-height: 23px
      margin-bottom: 3px
    .start-subtitle
      color: $gray-muted
      font-size: 16px

  .profile-builder-start-list
    & > div
      display: flex
    & > div:not(:first-child)
      margin-top: 28px
    .icon-wr
      width: 76px
    span
      font-size: 16px

  .start-list-detail-text
    margin: 60px 0 30px
    color: $gray-muted
    font-size: 16px
