// initialization point for non critical css

/* Import Bootstrap Vue Styles */
//@import '~bootstrap-vue/dist/bootstrap-vue';

#flash-messages
  position: absolute
  top: 60px
  right: 0
  width: 350px
  z-index: 1000
