@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap')

@font-face
  font-family: NewsGotihcMT
  src: url("./fonts/News Gothic MT.eot")
  src: url("./fonts/News Gothic MT.eot?#iefix") format("embedded-opentype"),
  url("./fonts/News Gothic MT.woff") format("woff"),
  url("./fonts/News Gothic MT.ttf") format("truetype"),
  url("./fonts/News Gothic MT.svg#News Gothic MT") format("svg")


@font-face
  font-family: NewsGothicMTStdBold
  src: url("./fonts/News Gothic MT Std Bold.eot")
  src: url("./fonts/News Gothic MT Std Bold.eot?#iefix") format("embedded-opentype"),
  url("./fonts/News Gothic MT Std Bold.woff") format("woff"),
  url("./fonts/News Gothic MT Std Bold.ttf") format("truetype"),
  url("./fonts/News Gothic MT Std Bold.svg#News Gothic MT Std Bold") format("svg")


@font-face
  font-family: NewsCycle
  src: url("./fonts/News Cycle V2.eot")
  src: url("./fonts/News Cycle V2.eot?#iefix") format("embedded-opentype"),
  url("./fonts/News Cycle V2.woff") format("woff"),
  url("./fonts/News Cycle V2.ttf") format("truetype"),
  url("./fonts/News Cycle V2.svg#News Cycle V2") format("svg")
