%type-defaults
  font-family: NewsGotihcMT, sans-serif

%news-gothic-bold
  font-family : NewsGothicMTStdBold, Helvetica, Arial, sans-serif

%news-cycle
  font-family : NewsCycle, Helvetica, Arial, sans-serif

%raleway
  font-family: 'Raleway', sans-serif

%modal-btn
  font-size: 12px
  line-height: 14px
  padding: 10px 30px
  text-transform: uppercase
