<script>
    export default {
        data: function () {
            return {
                message: 'From vue component'
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>
