-# If will add new links, then maybe move it to separate layout
%ul.nav.flex-column
  %li.nav-item
    = link_to 'Profile', profile_users_path, class: nav_link_class(profile_users_path)
  %li.nav-item
    = link_to 'Edit Profile', edit_profile_users_path, class: nav_link_class(edit_profile_users_path)
    %li.nav-item
    = link_to 'Edit Login', edit_login_users_path, class: nav_link_class(edit_login_users_path)
