- steps = ['Gym location', 'Listing Name', 'Pricing', 'Your Specializations', 'Image', 'Services Offered', 'Rules', 'Cancellation', 'Payment Method']
- current_index = steps.index(active_step)

.profile-builder-tabs.hide-on-mobile
  - steps.each_with_index do |step, index|
    - passed_class = current_index > index ? 'passed' : ''
    - active_class = current_index == index ? 'active' : ''

    = content_tag :div, step, class: "profile-builder-tabs-item #{passed_class} #{active_class}"

%select.select-field.tab-header.hide-on-desktop{name: 'select'}
  %option{value: 'value1'} Gym location
  %option{value: 'value2'} Listing Name
  %option{value: 'value3'} Pricing
  %option{value: 'value4'} Your Specializations
  %option{value: 'value5'} Services Offered
  %option{value: 'value6'} Rules
  %option{value: 'value7'} Cancellation
  %option{value: 'value8'} Payment Method
