= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Configure You Profile', btn_text: '', btn_url: nil }


.profile-builder-cancellation
  .container
    = render partial: 'steps_tabs', locals: { active_step: 'Cancellation' }

    .profile-builder-block-title
      %h2 Cancellation Policy
      %p Choose among three cancellation policies

    = form_with model: @wizard_form, url: wizard_path, scope: :user, method: :put, local: true, html: { class: 'profile-builder-form' } do |f|
      - if @wizard_form.errors.any?
        = render 'errors', resource: @wizard_form

      .profile-builder-form-row.row
        .profile-builder-field-block.col-md-6
          - User::CANCELLATION.each do |item|
            .cancellation-block
              = f.label "cancellations_#{to_snake_case(item)}", class: 'checkbox-block' do
                %span.label-title= item
                %span.label-text Student may cancel up to 3 hours before the session
                = f.check_box :cancellations, { multiple: true, checked: @wizard_form.send(to_snake_case(item)).present? }, item, false
                %span.checkmark
      .profile-builder-form-footer
        = link_to 'Back', previous_wizard_path, class: 'btn btn-no-bg-no-bordered'
        = f.submit 'Next', class: 'btn btn-primary ml-auto'
