= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Configure You Profile', btn_text: '', btn_url: nil }

.profile-builder-gym-location
  .container
    = render partial: 'steps_tabs', locals: { active_step: 'Gym location' }



    = form_with model: @wizard_form, url: wizard_path, scope: :user, method: :put, local: true, html: { class: 'profile-builder-form' } do |f|
      - if @wizard_form.errors.any?
        = render 'errors', resource: @wizard_form

      .profile-builder-block-checkbox
        %label.checkbox-block
          Offer privates at customer’s location
          %em (you go to them)
          %input{:type => "checkbox"}/
          %span.checkmark

        %label.checkbox-block
          Offer privates at your gym or other location
          %em (they come to you)
          %input{:type => "checkbox"}/
          %span.checkmark


      .profile-builder-block-title
        %h2 Where is your Gym located?

      .profile-builder-field-block
        = f.label :gym_address, 'Enter Address'
        = f.text_field :gym_address, class: 'inpute-field'

      .profile-builder-field-block.mt-20
        = f.label :gym_instructions, 'Special Instructions'
        = f.text_area :gym_instructions, placeholder: 'e.g. come up to the front door', class: 'textarea-field'

      .profile-builder-form-bottom-text Address will only be show to confirmed users.
      .profile-builder-form-footer
        = f.submit 'Next', class: 'btn btn-primary ml-auto'
