= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Configure You Profile', btn_text: '', btn_url: nil }


.profile-builder-images
  .container
    = render partial: 'steps_tabs', locals: { active_step: 'Image' }

    .profile-builder-block-title
      %h2 Upload Images
      %p Showcase your best photos! You can always upload photos later or email us!
    %merchant-images-form{'inline-template': ''}
      .profile-builder-upload
        .profile-builder-upload-top-text Cover Photo Upload
        .profile-builder-upload-current-image{'v-for': "(object, key) in images", ':id': "'image-id-' + object.id"}
          %img{':src': "object.image.url" }
          %i.fa.fa-trash{'@click': "removeImage(object.id)"}

        = form_with url: create_images_users_path, html: { id: 'merchant-images-form' } do |f|
          = f.file_field :images, multiple: true, id: 'merchant-images-form-input', '@change': "handleFileUploads"

        .profile-builder-upload-additional
          .profile-builder-upload-additional-title Upload additional photos
          .profile-builder-upload-additional-subtitle Add upto 9 additional photo
          .profile-builder-upload-additional-plus{id: 'merchant-images-form-btn', '@click': "addFiles"}
            %span +

        .profile-builder-form-footer
          = link_to 'Back', previous_wizard_path, class: 'btn btn-no-bg-no-bordered'
          = link_to 'Next', next_wizard_path, class: 'btn btn-primary ml-auto'
