.profile-builder-start
  .container
    .profile-builder-start-top-block
      %h1.start-title Offer your Grappling Services
      %h6.start-subtitle Earn extra income by sharing your knowledge!

    .profile-builder-start-list
      %div
        .icon-wr
          = image_tag("#{asset_pack_path('media/img/search.svg')}")
        %span List
      %div
        .icon-wr
          = image_tag("#{asset_pack_path('media/img/credit-card.svg')}")
        %span Set Prices and Calendar
      %div
        .icon-wr
          = image_tag("#{asset_pack_path('media/img/calendar.svg')}", width: 34)
        %span Take Reservations
      %div
        .icon-wr
          = image_tag("#{asset_pack_path('media/img/money.svg')}")
        %span Get Paid for Sessions

    %p.start-list-detail-text Once you've added your services, we'll verify your rank and credentials to certify you for FREE before listing you on the site.
    - if current_user&.merchant?
      = link_to 'Get Started', wizard_path(:gym_location), class: 'btn btn-primary ml-auto'
    - else
      = link_to 'Get Started', '#', data: {target: '#sign-up-modal', toggle: 'modal'}, class: 'btn btn-primary ml-auto'
