= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Configure You Profile', btn_text: '', btn_url: nil }

.profile-builder-listing-name
  .container
    = render partial: 'steps_tabs', locals: { active_step: 'Listing Name' }

    .profile-builder-block-title
      %h2 Listing Name & Description
      %p Give a creative name and description to help it stand out in search results.

    = form_with model: @wizard_form, url: wizard_path, scope: :user, method: :put, local: true, html: { class: 'profile-builder-form' } do |f|
      - if @wizard_form.errors.any?
        = render 'errors', resource: @wizard_form

      .profile-builder-field-block
        = f.label :listing_name
        = f.text_field :listing_name, placeholder: 'e.g. best leglocker in the world', class: 'inpute-field'
      .profile-builder-field-block.mt-20
        %label
          Describe your services
          %em (This is your sales pitch)
        = f.text_area :listing_description, placeholder: 'e.g. I’ll take your leglock game to the next level.', class: 'textarea-field'
      .profile-builder-form-footer
        = link_to 'Back', previous_wizard_path, class: 'btn btn-no-bg-no-bordered'
        = f.submit 'Next', class: 'btn btn-primary ml-auto'
