= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Configure You Profile', btn_text: '', btn_url: nil }

.profile-builder-payment
  .container
    = render partial: 'steps_tabs', locals: { active_step: 'Payment Method' }

    .profile-builder-block-title
      %h2 Setup Your Payment Method
      %p Securely connect your debt card or bank account via Stripe to receive payouts. Payouts are sent 24 hours after a successful booking.

    %button.btn.btn-primary-no-bg Connect your account
    .payment-list
      %p You will be asked for the following (it only takes a minute)
      %p 1/ &nbsp;&nbsp; Your email address and phone number.
      %p 2/ &nbsp;&nbsp; Your full legal name and “business site link” (just enter bookbjj.com for that).
      %p 3/ &nbsp;&nbsp; A bank account or debit card for us to send your funds to.

    .profile-builder-form-footer
      = link_to 'Back', previous_wizard_path, class: 'btn btn-no-bg-no-bordered'
      = link_to 'Next', wizard_path(:wicked_finish), class: 'btn btn-primary ml-auto'
