= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Configure You Profile', btn_text: '', btn_url: nil }

.profile-builder-pricing
  .container
    = render partial: 'steps_tabs', locals: { active_step: 'Pricing' }

    .profile-builder-block-title
      %h2 Pricing
      %p How much do you charge and who can come?

    = form_with model: @wizard_form, url: wizard_path, scope: :user, method: :put, local: true, html: { class: 'profile-builder-form' } do |f|
      - if @wizard_form.errors.any?
        = render 'errors', resource: @wizard_form

      .profile-builder-form-row.row
        .profile-builder-field-block.col-md-4
          = f.label :hourly_rate do
            Hourly Rate
            %em (per hour)
          = f.select :hourly_rate, options_for_select([['$70', '70'], ['$80', '80'], ['$90', '90'], ['$100', '100']], @wizard_form.hourly_rate), {}, class: 'select-field'
        .profile-builder-field-block.col-md-4
          = f.label :number_people, 'Minimum Number of People'
          = f.select :number_people, options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']],  @wizard_form.number_people), {}, class: 'select-field'

      .profile-builder-field-block.mt-30
        = f.label :filming_allowed, 'Filming Allowed?'
        .radio-toolbar
          = f.radio_button :filming_allowed, true, checked: true, id: 'allowed-yes'
          %label{for: 'allowed-yes'} Yes
          = f.radio_button :filming_allowed, false, id: 'allowed-no'
          %label{for: 'allowed-no'} No
      .profile-builder-form-footer
        = link_to 'back', previous_wizard_path, class: 'btn btn-no-bg-no-bordered'
        = f.submit 'Next', class: 'btn btn-primary ml-auto'
