= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Configure You Profile', btn_text: '', btn_url: nil }


.profile-builder-rules
  .container
    = render partial: 'steps_tabs', locals: { active_step: 'Rules' }

    .profile-builder-block-title
      %h2 Rules
      %p Select all the following that apply


    = form_with model: @wizard_form, url: wizard_path, scope: :user, method: :put, local: true, html: { class: 'profile-builder-form' } do |f|
      - if @wizard_form.errors.any?
        = render 'errors', resource: @wizard_form

      .profile-builder-form-row.row
        - User::RULES.each do |item|
          .profile-builder-field-block.col-md-4
            = f.label "rules_apply_#{to_snake_case(item)}", class: 'checkbox-block' do
              #{item}
              = f.check_box :rules_apply, { multiple: true, checked: @wizard_form.send(to_snake_case(item)).present? }, item, false
              %span.checkmark

      .profile-builder-field-block.mt-20.range-block
        %div Travel
        .grey-text I will travel upto:

        .range-block
          .range-slider
            %span#rs-bullet.rs-label 0
            #range-fill.range-fill
            = f.range_field :rules_travel, max: '2', min: '0', step: '0.5', id: 'rs-range-line', class: 'rs-range'
          .box-minmax
            %div
              %span 0
            %div
              %span 30MIN
            %div
              %span 1 HOUR
            %div
              %span 1HOUR30MIN
            %div
              %span 2HOUR

      .profile-builder-field-block.mt-20
        = f.label :rules_additional, 'Additional Rules'
        = f.text_area :rules_additional, placeholder: 'e.g. please warm up before your session', class: 'textarea-field'

      .profile-builder-form-footer
        = link_to 'Back', previous_wizard_path, class: 'btn btn-no-bg-no-bordered'
        = f.submit 'Next', class: 'btn btn-primary ml-auto'
