= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Configure You Profile', btn_text: '', btn_url: nil }

.profile-builder-service-offered
  .container
    = render partial: 'steps_tabs', locals: { active_step: 'Services Offered' }

    .profile-builder-block-title
      %h2 Services You Offer
      %p You must offer a general per hour private rate, but can also offer a variety of other specialized services


    = form_with model: @wizard_form, url: wizard_path, scope: :user, method: :put, local: true, html: { class: 'profile-builder-form' } do |f|
      - if @wizard_form.errors.any?
        = render 'errors', resource: @wizard_form
      .profile-builder-form-row
        .profile-builder-field-block
          = f.label :services_private_session do
            General Private Session
            %em (per hour)
          = f.select :services_private_session, options_for_select([['$100', '100'], ['$200', '200'], ['$300', '300'], ['$400', '400']], @wizard_form.services_private_session), {}, class: 'select-field'

          = f.label :services_roll_review do
            Roll Reviews
            %em (per hour)
          = f.select :services_roll_review, options_for_select([['$50', '50'], ['$60', '60'], ['$70', '70'], ['$80', '80'], ['$90', '90']],  @wizard_form.services_roll_review), {}, class: 'select-field'

          = f.label :services_skype_call do
            Skype Call
            %em (per hour)
          = f.select :services_skype_call, options_for_select([['$10', '10'], ['$20', '20'], ['$30', '30'], ['$40', '40'], ['$50', '50']],  @wizard_form.services_skype_call), {}, class: 'select-field'

          = f.label :services_seminar do
            Seminar
            %em (per hour)
          = f.select :services_seminar, options_for_select([['$1000', '1000'], ['$2000', '2000'], ['$3000', '3000']],  @wizard_form.services_seminar), {}, class: 'select-field'
      .profile-builder-form-footer
        = link_to 'Back', previous_wizard_path, class: 'btn btn-no-bg-no-bordered'
        = f.submit 'Next', class: 'btn btn-primary ml-auto'
