= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Configure You Profile', btn_text: '', btn_url: nil }


.profile-builder-specialization
  .container
    = render partial: 'steps_tabs', locals: { active_step: 'Your Specializations' }

    .profile-builder-block-title
      %h2 What do you specialize in?
      %p Select all the following that apply

    = form_with model: @wizard_form, url: wizard_path, scope: :user, method: :put, local: true, html: { class: 'profile-builder-form' } do |f|
      - if @wizard_form.errors.any?
        = render 'errors', resource: @wizard_form

      .profile-builder-form-row.row
        .profile-builder-field-block.col-md-4
          = f.label 'specializations_gi', class: 'checkbox-block' do
            Gi
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.gi.present? }, 'Gi', false
            %span.checkmark
          = f.label 'specializations_kimura', class: 'checkbox-block' do
            Kimura
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.kimura.present? }, 'Kimura', false
            %span.checkmark

          = f.label 'specializations_armbars', class: 'checkbox-block' do
            Armbars
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.armbars.present? }, 'Armbars', false
            %span.checkmark

          = f.label 'specializations_front_headlock', class: 'checkbox-block' do
            Front Headlock
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.front_headlock.present? }, 'Front Headlock', false
            %span.checkmark

        .profile-builder-field-block.col-md-4
          = f.label 'specializations_smash_punching', class: 'checkbox-block' do
            Smash Punching
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.smash_punching.present? }, 'Smash Punching', false
            %span.checkmark

          = f.label 'specializations_no_gi', class: 'checkbox-block' do
            No Gi
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.no_gi.present? }, 'No Gi', false
            %span.checkmark

          = f.label 'specializations_rubber_guard', class: 'checkbox-block' do
            Rubber Guard
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.rubber_guard.present? }, 'Rubber Guard', false
            %span.checkmark

          = f.label 'specializations_peruvian_necktie', class: 'checkbox-block' do
            Peruvian Necktie
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.peruvian_necktie.present? }, 'Peruvian Necktie', false
            %span.checkmark

        .profile-builder-field-block.col-md-4
          = f.label 'specializations_leglocks', class: 'checkbox-block' do
            Leglocks
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.leglocks.present? }, 'Leglocks', false
            %span.checkmark
          = f.label 'specializations_full_guard', class: 'checkbox-block' do
            Full Guard
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.full_guard.present? }, 'Full Guard', false
            %span.checkmark

          = f.label 'specializations_kneebars', class: 'checkbox-block' do
            Kneebars
            = f.check_box :specializations, { multiple: true, checked: @wizard_form.kneebars.present? }, 'Kneebars', false
            %span.checkmark

      .profile-builder-form-footer
        = link_to 'Back', previous_wizard_path, class: 'btn btn-no-bg-no-bordered'
        = f.submit 'Next', class: 'btn btn-primary ml-auto'
