<script>
    import 'vue-event-calendar/dist/style.css'

    let today = new Date()
    export default {
        data () {
            return {
                demoEvents: [{
                    date: `${today.getFullYear()}/${today.getMonth() + 1}/15`,
                    title: 'Title-1',
                    desc: 'longlonglong description'
                },{
                    date: `${today.getFullYear()}/${today.getMonth() + 1}/24`,
                    title: 'Title-2'
                },{
                    date: `${today.getFullYear()}/${today.getMonth() === 11 ? 1 : today.getMonth() + 2}/06`,
                    title: 'Title-3',
                    desc: 'description'
                }]
            }
        },
        methods: {
            handleDayChanged (data) {
                console.log('date-changed', data)
            },
            handleMonthChanged (data) {
                console.log('month-changed', data)
            }
        },
        mounted() {
            const eventsWrapper = document.querySelector('.events-wrapper');
            eventsWrapper.parentNode.removeChild(eventsWrapper);
        }
    }

</script>

<style lang="scss">
    $white: #fff;
    $gray: #e0e0e0;
    $gray-dark: #b1b1b1;
    $light-blue: #5D7AF6;
    $large-padding: 15px;
    $small-padding: 10px;





  .__vev_calendar-wrapper {
      .events-wrapper {
          display: none;
      }

      .cal-wrapper {
          width: 100%;
          padding: 0;
      }
      .cal-wrapper {
          width: 100%;
          padding: 0;

          .cal-header {
            color: #939598;
            padding-bottom: 0;
            .title {
              width: 100px;
              text-align: center;
              padding: 15px 0;
              color: #939598;
            }

            .l {
              width: auto;
              .icon {
                color: #939598;
              }
            }
            .r {
              width: auto;
              .icon {
                color: #939598;
              }
            }
          }

          .arrow-right.icon {
            right: auto;
          }

          .cal-body{
              width: 100%;
              .weeks{
                  width: 100%;
                  overflow: hidden;
                  text-align: center;
                  font-size: 12px;
                  text-transform: uppercase;
                  .item{
                      line-height: 50px;
                      float: left;
                      width: 14.285%;
                      font-weight: 700;
                  }
              }
              .dates{
                  width: 100%;
                  overflow: hidden;
                  text-align: center;
                  font-size: 1rem;
                  .item{
                      position: relative;
                      float: left;
                      display: block;
                      width: 14.285%;
                      cursor: default;
                      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                      .date-num{
                          position: relative;
                          z-index: 3;
                      }
                      &.today{
                          color: $white !important;
                          .date-num {
                           color: #fff!important;
                           opacity: 1
                          }
                          & ~ .item {
                            .date-num {
                              opacity: 1
                            }
                          }
                      }
                      .date-num {
                       color: #939598!important;
                       font-size: 12px;
                       opacity: 0.4
                      }
                      &.event{
                          cursor: pointer;
                          .is-event {
                            width: 5px;
                            height: 5px;
                            background: #F29730!important;
                            border: none;

                          }
                      }
                      &.selected-day{
                          .is-event{
                              background-color: $light-blue;
                          }
                      }
                      .is-event{
                          content: '';
                          background-color: $light-blue;
                          border-radius: 50%;
                          opacity: .8;
                          width: 12px;
                          height: 4px;
                          position: absolute;
                          left: 50%;
                          top: 50%;
                          z-index: 2;
                          margin-left: -6px;
                          margin-top: 8px;
                      }
                      .is-today{
                          content: '';
                          border: 1px solid $light-blue;
                          background-color: $light-blue !important;
                          border-radius: 50%;
                          width: 36px;
                          height: 36px;
                          position: absolute;
                          left: 50%;
                          top: 50%;
                          z-index: 1;
                          margin-left: -18px;
                          margin-top: -19px;
                      }
                  }
              }
          }
      }
  }
</style>
