@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"

.landing-body
  // padding-top: 65px



.messages-top-line
  background: #F2F2F2
  padding: 20px 0
  .container
    display: flex
    align-items: center
    justify-content: space-between
    .left
      display: flex
      align-items: center
  img
    width: 40px
    border-radius: 100%
    margin-right: 14px
  &-name
    @extend %news-gothic-bold
    font-size: 18px
    line-height: 18px

.message-list
  padding-bottom: 102px
  .message-list-date
    font-size: 12px
    line-height: 14px
    text-transform: uppercase
    color: #9B9B9B
    padding: 20px 0
    text-align: center
    @extend %news-gothic-bold
  .message-block
    display: flex
    padding-bottom: 34px
    &.message-type-1
      justify-content: flex-start
      .message-block-ava
        margin-right: 15px
      .message-block-content-text
        background: rgba(62, 99, 209, 0.75)
        color: #fff
        border-top-left-radius: 0
      .message-block-content-time
        text-align: left
    &.message-type-2
      justify-content: flex-end
      .message-block-ava
        margin-left: 15px
      .message-block-content-text
        background: #F7F7F7
        border-top-right-radius: 0
      .message-block-content-time
        text-align: right

    .message-block-ava
      flex-grow: 0
      img
        width: 40px
        border-radius: 100%
    .message-block-content-text
      border-radius: 20px
      padding: 20px
      font-size: 14px
    .message-block-content-time
      font-size: 12px
      color: #9B9B9B
      padding-top: 8px


.message-enter-block
  position: fixed
  bottom: 0
  left: 0
  right: 0
  border-top: 1px solid #E4E4E4
  padding: 20px 0
  background: #fff
  &-item
    position: relative
    textarea
      border: 1px solid #E4E4E4
      height: 55px
      line-height: 53px
      font-size: 14px
      color: #9B9B9B
      resize: none
      outline: none
      padding: 0 65px 0 15px
      border-radius: 8px
      width: 100%
    button
      position: absolute
      top: 0
      right: 0
      border: none
      width: 50px
      height: 55px
      line-height: 53px
      border-radius: 8px
      background: none
      box-shadow: none
      color: rgba(147, 149, 152, 0.5)






.spinner
  width: 70px
  text-align: center
  > div
    width: 8px
    height: 8px
    background-color: #fff
    border-radius: 100%
    display: inline-block
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both
    animation: sk-bouncedelay 1.4s infinite ease-in-out both
  .bounce1
    -webkit-animation-delay: -0.32s
    animation-delay: -0.32s
  .bounce2
    -webkit-animation-delay: -0.16s
    animation-delay: -0.16s

@-webkit-keyframes sk-bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)

  40%
    -webkit-transform: scale(1)


@keyframes sk-bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)
    transform: scale(0)

  40%
    -webkit-transform: scale(1)
    transform: scale(1)
