.messages-top-line
  .container
    .left
      = image_tag("#{asset_pack_path('media/img/user-pic.png')}")
      .messages-top-line-name Malinda Keen
    %button.btn.btn-primary I’m ready, let’s book

.container
  .row
    .col-md-8
      .message-list
        .message-list-date SUNDAY, September 7, 2019
        .message-block.message-type-1
          .message-block-ava
            = image_tag("#{asset_pack_path('media/img/user-pic.png')}")
          .message-block-content
            .message-block-content-text Now, if you are interested in being the best player, getting really good money and knowing some tricks and advices of what to do in a live tournament games, here is the best place to learn them.
            .message-block-content-time 07:44 am

        .message-block.message-type-2
          .message-block-content
            .message-block-content-text Now, if you are interested in being the best player, getting really good money and knowing some tricks and advices of what to do in a live tournament games, here is the best place to learn them.
            .message-block-content-time 07:44 am
          .message-block-ava
            = image_tag("#{asset_pack_path('media/img/user-pic.png')}")

        .message-block.message-type-1
          .message-block-ava
            = image_tag("#{asset_pack_path('media/img/user-pic.png')}")
          .message-block-content
            .message-block-content-text Now, if you are interested in being the
            .message-block-content-time 07:44 am

        .message-block.message-type-2
          .message-block-content
            .message-block-content-text Now, if you are interested in being the best player
            .message-block-content-time 07:44 am
          .message-block-ava
            = image_tag("#{asset_pack_path('media/img/user-pic.png')}")


        .message-block.message-type-1
          .message-block-ava
            = image_tag("#{asset_pack_path('media/img/user-pic.png')}")
          .message-block-content
            .message-block-content-text
              .spinner
                .bounce1
                .bounce2
                .bounce3
            .message-block-content-time 07:44 am

.message-enter-block
  .container
    .row
      .col-md-8
        .message-enter-block-item
          %textarea
          %button
            %i.fa.fa-paper-plane
