.sub-header
  .container
    .d-flex.flex-row.justify-content-between.align-items-center.sub-wrapper
      .title
        %h3= header_title
      - if btn_text && btn_url
        .action-btn
          = link_to btn_text, btn_url, class: 'btn btn-primary'
