@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/typography"

.sub-header
  @extend %news-gothic-bold
  background: #F2F2F2
  height: 65px
  position: fixed
  top: 65px
  right: 0
  left: 0
  z-index: 1030
  padding: 1rem
  .sub-wrapper
    .title h3
      font-size: 20px
      line-height: 24px
      margin-bottom: 0
