#sign-up-modal.modal.fade{ aria: { hidden: true }, role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title= t('.title')
        %button.close.close-in-word{ aria: { label: 'Close'}, data: { dismiss: 'modal' }, type: 'button'}
          %span{ aria: { hidden: true } } CLOSE
      .modal-body
        #signup-errors
        %sign-up-form{'inline-template': ''}
          %div
            %validation-errors{':errors': "validationErrors", 'v-if': "validationErrors"}
            = form_with url: register_auth_index_path,
                        html: { id: 'sign-up-form', '@submit.stop.prevent': 'signUpCustomer' } do |f|
              .row
                .form-group.col-sm-6
                  = f.label :first_name
                  = f.text_field :first_name, class: 'form-control', '@blur': "$v.user.first_name.$touch()", 'v-model': "user.first_name"
                  .front-errors{'v-if': "$v.user.first_name.$dirty"}
                    %p{'v-if': "!$v.user.first_name.required"} This field must not be empty.
                    %p{'v-if': "!$v.user.first_name.minLen"} First Name should be at least {{ $v.user.first_name.$params.minLen.min }} characters.

                .form-group.col-sm-6
                  = f.label :last_name
                  = f.text_field :last_name, class: 'form-control', '@blur': "$v.user.last_name.$touch()", 'v-model': "user.last_name"
                  .front-errors{'v-if': "$v.user.last_name.$dirty"}
                    %p{'v-if': "!$v.user.last_name.required"} This field must not be empty.
                    %p{'v-if': "!$v.user.last_name.minLen"} Last Name should be at least {{ $v.user.last_name.$params.minLen.min }} characters.

              .row
                .form-group.col-sm-6
                  = f.label :email, 'Email Address'
                  = f.email_field :email, class: 'form-control', '@blur': "$v.user.email.$touch()", 'v-model': "user.email"
                  .front-errors{'v-if': "$v.user.email.$dirty"}
                    %p{'v-if': "!$v.user.email.email"} Please provide a valid email address.
                    %p{'v-if': "!$v.user.email.required"} This field must not be empty.
                .form-group.col-sm-6
                  = f.label :phone, 'Phone Number'
                  = f.phone_field :phone, class: 'form-control', '@blur': "$v.user.phone.$touch()", 'v-model': "user.phone"
                  .front-errors{'v-if': "$v.user.phone.$dirty"}
                    %p{'v-if': "!$v.user.phone.required"} This field must not be empty.

              .row
                .form-group.col-sm-6
                  = f.label :time_zone
                  = f.select :time_zone, User::ZONE_MAPPING.map{ |key, val| [val, key] }, { prompt: 'Choose' }, { class: 'form-control', 'v-model': "user.time_zone" }
                .form-group.col-sm-6
                  = f.label :password, 'Create Password'
                  = f.password_field :password, class: 'form-control', '@blur': "$v.user.password.$touch()", 'v-model': "user.password"
                  .front-errors{'v-if': "$v.user.password.$dirty"}
                    %p{'v-if': "!$v.user.password.required"} This field must not be empty.
                    %p{'v-if': "!$v.user.password.minLen"} Password should be at least {{ $v.user.password.$params.minLen.min }} characters.

              .row.form-group
                .col-md-9.col-form-label
                  .form-check.form-check-inline.mr-1
                    .checkbox-block
                      = f.label :terms, 'I agree to Terms & Conditions', class: 'form-check-label' do
                        I agree to Terms & Condition
                        = f.check_box :terms, class: 'form-check-input', '@change': "$v.user.terms.$touch()", 'v-model': "user.terms"
                        %span.checkmark

              = f.submit 'Signup', ':disabled': "$v.$invalid", class: 'btn btn-primary'
              = link_to 'Signup to Teach', '#', class: 'btn btn-secondary', '@click.prevent': "signUpMerchant"

      .modal-footer
        %span Already have an account? #{link_to 'Sign In', '#', class: 'sign-in-link text-purple'}
