@import "../../../../frontend/init/custom/colors"
@import "../../../../frontend/init/typography"
@import "../../../../frontend/init/breakpoints"

#sign-up-modal
  @extend %news-gothic-bold

  .modal-dialog
    @include media-breakpoint-up(md)
      margin-top: 5rem
      max-width: 675px

  .modal-content
    .modal-header
      border-bottom: none

      .modal-title
        font-size: 18px
        line-height: 21px

    .checkbox-block
      label
        font-size: 14px


    .modal-body
      @extend %type-defaults

      input:not([type="submit"]), select
        background-color: $soft_gray
        border: none
        border-radius: 2px

    .modal-footer
      @extend %type-defaults
      justify-content: center!important
      font-size: 14px
      line-height: 16px
      background-color: $soft_gray
      padding: 30px 10px 30px

      .sign-in-link
        @extend %news-gothic-bold
        text-transform: uppercase
        font-size: 14px
        line-height: 16px
