@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"

.manage-availability
  padding-top: 15px
  &-tabs
    border-bottom: 1px solid #E6E6E6
    display: flex
    justify-content: flex-start
    margin-bottom: 20px
    &-item
      font-size: 12px
      padding: 10px 20px
      border-bottom: 2px solid transparent
      margin-bottom: -2px
      text-transform: uppercase
      &.active
        color: $light_blue
        border-bottom: 2px solid $light_blue
        @extend %news-gothic-bold

  &-title
    font-size: 16px
    padding-bottom: 30px
    @extend %news-gothic-bold

  .manage-availability-modal
    font-size: 16px
    color: #000

.modal-dialog
  @include media-breakpoint-up(md)
    max-width: 383px
    margin-top: 5rem

.modal-header
  border-bottom: none

  .modal-title
    font-size: 18px
    line-height: 21px
    @extend %news-gothic-bold
  .close
    @extend %news-gothic-bold

.manage-booking
  &-title
    font-size: 14px
    padding: 20px 0 10px
  .repeat-this-availability
    display: flex
    justify-content: space-between
    .switcher
      min-width: 40px
      margin: 21px 0 0
  &-timeslots
    &-line
      display: flex
      border-bottom: 1px solid #E6E6E6
      &:first-child
        border-top: 1px solid #E6E6E6
      &-item
        @extend %news-gothic-bold
        width: 16.66%
        height: 63px
        font-size: 12px
        padding: 10px
        position: relative
        cursor: pointer
        .fa-clock-o
          position: absolute
          bottom: 10px
          right: 10px
          font-size: 14px
          color: $light_blue

        &:not(:first-child)
          border-left: 1px solid #E6E6E6

  &-services-offered
    padding: 0 16px

    &-days
      display: flex
      justify-content: space-between
      &-item
        display: flex
        justify-content: center
        align-items: center
        width: 13%
        height: 45px
        border: 1px solid #E6E6E6
        color: #E6E6E6
        cursor: pointer

    &-btns
      .btn
        font-size: 14px
        height: 42px
        line-height: 38px
        padding: 0 20px
        background: none
        border: 1px solid #E6E6E6
        border-radius: 4px
        margin: 0 6px 10px 0

  .profile-builder-field-block
    max-width: 185px

  &-footer
    padding: 16px
    .btn
      padding: 0 10px
      height: 36px
      line-height: 36px
      @extend %news-gothic-bold
    .btn-no-bg-no-bordered
      text-transform: uppercase
      font-size: 12px
      @extend %news-gothic-bold
