= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Manage Availability', btn_text: nil, btn_url: nil }

.container
  .row
    .col-md-4
      = render partial: 'shared/event-calendar/event-calendar'
    .col-md-8
      .manage-availability
        .manage-availability-title July 23, 2019
        .alert.alert-warning.text-reset
          Instant Booking slots are 80% more likely to get reserved than regular slots

        .manage-availability-tabs
          .manage-availability-tabs-item.active Instant Bookings
          .manage-availability-tabs-item Unavailable

        %p= link_to '+ Manage timeslots', '#', data: { target: '.bd-example-modal', toggle: 'modal'  }, class: 'manage-availability-modal'



.modal.fade.bd-example-modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title= t('.title')
        %button.close.close-in-word{ aria: { label: 'Close'}, data: { dismiss: 'modal' }, type: 'button'}
          %span{ aria: { hidden: true } } CLOSE

      .manage-booking
        .manage-booking-timeslots
          .manage-booking-timeslots-line
            .manage-booking-timeslots-line-item 12am
            .manage-booking-timeslots-line-item 1am
            .manage-booking-timeslots-line-item 2am
            .manage-booking-timeslots-line-item 3am
            .manage-booking-timeslots-line-item 4am
            .manage-booking-timeslots-line-item 5am
          .manage-booking-timeslots-line
            .manage-booking-timeslots-line-item 6am
            .manage-booking-timeslots-line-item 7am
            .manage-booking-timeslots-line-item 8am
            .manage-booking-timeslots-line-item 9am
            .manage-booking-timeslots-line-item 10am
            .manage-booking-timeslots-line-item 11am
          .manage-booking-timeslots-line
            .manage-booking-timeslots-line-item 12pm
            .manage-booking-timeslots-line-item 1pm
            .manage-booking-timeslots-line-item 2pm
            .manage-booking-timeslots-line-item 3pm
            .manage-booking-timeslots-line-item
              4pm
              %i.fa.fa-clock-o
            .manage-booking-timeslots-line-item 5pm
          .manage-booking-timeslots-line
            .manage-booking-timeslots-line-item 6pm
            .manage-booking-timeslots-line-item 7pm
            .manage-booking-timeslots-line-item 8pm
            .manage-booking-timeslots-line-item
              9pm
              %i.fa.fa-clock-o
            .manage-booking-timeslots-line-item 10pm
            .manage-booking-timeslots-line-item 11pm

        .manage-booking-services-offered
          .manage-booking-title Services Offered
          .manage-booking-services-offered-btns
            %button.btn General Private Session
            %button.btn Roll Review
            %button.btn Skype Call

          .repeat-this-availability
            .manage-booking-title Repeat this availability
            .switcher
              %input#id-name--1.switch-input{:name => "set-name", :type => "checkbox"}/
              %label.switch-label{:for => "id-name--1"}

          .manage-booking-services-offered-days
            .manage-booking-services-offered-days-item SU
            .manage-booking-services-offered-days-item M
            .manage-booking-services-offered-days-item T
            .manage-booking-services-offered-days-item W
            .manage-booking-services-offered-days-item TH
            .manage-booking-services-offered-days-item F
            .manage-booking-services-offered-days-item SA

          .manage-booking-title Session Date and Time
          .profile-builder-field-block.field-with-icon
            %i.fa.fa-calendar
            %input.inpute-field{:placeholder => "Time", :type => "text"}/

        .manage-booking-footer
          %buttons.btn.btn-primary Mark As Instant Booking
          %buttons.btn.btn-no-bg-no-bordered Cancel
