@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"


.search-toggle-block
  display: flex
  justify-content: space-between
  align-items: center

  p
    @extend %news-gothic-bold
    padding: 20px 0
    margin: 0
  .search-open
    @extend %news-gothic-bold
    font-size: 30px
    color: $light-blue
    cursor: pointer

.search-filter
  @include media-breakpoint-down(md)
    background: #F9F9F9
    padding-bottom: 20px
  .container
    .search-filter-data
      padding-bottom: 15px
      margin-right: -5px
      margin-left: -5px

      div[class^="col-"]
        padding-right: 5px
        padding-left: 5px
        @include media-breakpoint-down(sm)
          &:not(:first-child)
            margin-top: 15px
      .data-col
        width: 20%
        margin-left: 1%
        &:first-child
          margin-left: 0
          width: 37%
    .search-filter-action
      display: flex
      align-items: center
      .btn

      .profile-builder-field-block
        .checkbox-block
          margin-bottom: 0
          margin-left: 15px
          img
          .text
            font-size: 14px
            color: black

.search-details
  .container
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 30px
    padding-bottom: 10px
  .select-field
    width: 95px

.custom-dropdown
  position: relative
  .custom-dropdown-title
    background: #F2F2F2
    font-size: 14px
    border-radius: 2px
    border: none
    padding: 0 20px 0 10px
    height: 43px
    line-height: 43px
    outline: none
    width: 100%
  .custom-dropdown-content
    position: absolute
    top: 100%
    background: #F2F2F2
    padding: 10px 10px 4px
    width: 100%
    z-index: 10
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    @include media-breakpoint-down(sm)
      position: static
    .custom-dropdown-input
      width: 100%
      border-radius: 2px
      box-shadow: none
      border: 1px solid #DFDFDF
      height: 32px
      line-height: 32px
      padding: 0 10px
      font-size: 12px
      font-style: italic
      outline: none
    .custom-dropdown-list
      padding-top: 10px
      max-height: 150px
      overflow-y: auto
      .profile-builder-field-block
        &:not(:first-child)
          padding-top: 10px
      .checkbox-block
        font-size: 14px
