.col-12.col-lg-6.mb-4
  .card.flex-row.merchant-card
    .card-header.border-0.p-0
      .merchant-avatar
        %img{:alt => "", :src => "https://api.adorable.io/avatars/160/abott@adorable.png"}
        .belt.black Black belt
    .card-body
      .merchant-wrapper.h-100.d-flex.flex-column
        .merchant-name
          .name.mr-1
            Josdsdsn Doesdsds sdsdsdd
          .price-per.ml-auto.d-flex.flex-row
            %span.price $40
            %span.per /hr

        .merchant-location Miami, Florida, 33138
        .merchant-range 4.1 miles
        .rating.mt-auto
          .stars
            %span.stars-sym &#11089;&#11089;&#11089;&#11089;&#11089;
            %span.rate 9.7
          %button.btn.btn-primary.ml-auto View profile
