@import "../../../../frontend/init/custom/colors"
@import "../../../../frontend/init/typography"
@import "../../../../frontend/init/breakpoints"

.banner
  height: 100vh
  color: $white
  background-repeat: no-repeat
  background-attachment: scroll
  background-position: center center
  background-size: cover
  @include media-breakpoint-down(md)
    height: auto
    padding-bottom: 50px


  .banner-wrapper
    display: flex
    align-items: center
    padding-top: 100px
    @include media-breakpoint-down(md)
      padding-top: 65px

  .banner-content
    @include media-breakpoint-up(lg)
     margin-top: -15vh

  .banner-heading
    @extend %news-gothic-bold
    font-size: 60px
    line-height: 77px
    margin-bottom: 30px
    color: $white
    font-style: normal
    -webkit-font-smoothing: antialiased
    -webkit-text-stroke-width: 0.2px
    -moz-osx-font-smoothing: grayscale
    @include media-breakpoint-down(lg)
      font-size: 45px
      line-height: 60px
    @include media-breakpoint-down(md)
      font-size: 35px
      line-height: 50px
    @include media-breakpoint-down(sm)
      font-size: 22px
      line-height: 36px
      text-align: center
      margin: 45px auto

.gradient-background-overlay
  position: relative
  z-index: 3
  background-position: center center
  background-size: cover


.gradient-background-overlay:before
  content: ""
  position: absolute
  height: 100%
  width: 100%
  z-index: -1
  top: 0
  left: 0
  background: linear-gradient(148.89deg, #5C2774 0%, #335CC5 49.97%, #637FFD 100%)
  mix-blend-mode: normal
  opacity: 0.85
