@import "../../../../frontend/init/custom/colors"
@import "../../../../frontend/init/typography"

.contact-us
  background-color: $deep_blue

  .contact-us-body
    color: $white
    padding: 45px 0
    @extend %news-cycle

    .contact-us-message h4
      font-size: 20px
      line-height: 32px

