@import "../../../../frontend/init/custom/colors"
@import "../../../../frontend/init/custom/buttons"
@import "../../../../frontend/init/typography"
@import "../../../../frontend/init/breakpoints"



.banner-form
  @extend %type-defaults
  font-size: 24px
  line-height: 34px
  color: $black
  @include media-breakpoint-down(sm)
    font-size: 18px

  .form-group
    .input-group-text
      border: none
      background-color: $soft_gray

    .form-control
      border: none

    input
      background-color: $soft_gray

  .card-header
    @extend %news-gothic-bold
    text-align: left
    background-color: $white
    border-bottom: none
    @include media-breakpoint-up(lg)
      padding: 30px 30px 30px
    @include media-breakpoint-down(md)
      padding-top: 22px

  .card-body
    @include media-breakpoint-up(lg)
      padding: 0 30px 30px
    @include media-breakpoint-down(md)
      padding-top: 0
    .form-group
      margin-bottom: 28px
