@import "../../../../frontend/init/custom/colors"
@import "../../../../frontend/init/typography"
@import "../../../../frontend/init/breakpoints"

.how-it-works  
  @include media-breakpoint-down(md)
    background: #DFE4FA
  .how-it-works-title
    padding: 200px 0 60px
    @extend %raleway
    @include media-breakpoint-down(sm)
      padding: 50px 0 30px
    h1
      font-weight: bold
      @include media-breakpoint-down(sm)
        font-size: 28px

  .how-it-works-body
    padding-bottom: 240px
    @include media-breakpoint-down(sm)
      padding-bottom: 50px
      & > div:not(:first-child)
        margin-top: 30px


  .card
    height: 226px
    .image-block
      height: 135px
      display: flex
      vertical-align: middle
      justify-content: center
    .card-text
      font-size: 18px
