.banner-form
  .card
    .card-header
      = t('welcome.index.index.form_text')
    .card-body
      = form_with url: root_path do |f|
        .row.form-group
          .col-md-12
            .input-group
              .input-group-prepend
                %span.input-group-text
                  %i.fa.fa-search
              = f.text_field :trainer, placeholder: 'Trainer', class: 'form-control'
        .row.form-group
          .col-md-12
            .input-group
              .input-group-prepend
                %span.input-group-text
                  %i.fa.fa-search
              = f.text_field :location, placeholder: 'Location', class: 'form-control'
        .row.form-group
          .col-6
            .input-group
              .input-group-prepend
                %span.input-group-text
                  %i.fa.fa-calendar
              = f.text_field :date, placeholder: 'Date', class: 'form-control'
          .col-6
            .input-group
              .input-group-prepend
                %span.input-group-text
                  %i.fa.fa-clock-o
              = f.text_field :time, placeholder: 'Time', class: 'form-control'

        = f.submit 'Search', class: 'btn-primary-bjj btn-lg btn-block banner-form-submit'
