.banner.gradient-background-overlay{style: "background-image: url(#{asset_pack_path "media/img/main-banner.png"});"}
  .container.h-100.banner-wrapper
    .row.banner-content.d-flex
      .col-12.col-md-6.d-flex.align-items-center
        .banner-heading
          = t('.header_text')

      .col-12.col-md-5.offset-md-1
        = render partial: 'welcome/index/search_form'



.bg-logo{style: "background: url(#{asset_pack_path "media/img/main-bg.jpg"}); background-repeat: none; background-repeat: no-repeat; background-size: cover;"}
  %section.how-it-works
    .container
      .row.h-100.text-center.how-it-works-title
        .col-12
          %h1= t('.how_it_works')

      .row.how-it-works-body
        .col-12.col-md-4
          .card
            .card-body.text-center
              .image-block
                = image_tag("#{asset_pack_path('media/img/rounded.svg')}")
              %p.card-text= t('.choose_instructor')
        .col-12.col-md-4
          .card
            .card-body.text-center
              .image-block
                = image_tag("#{asset_pack_path('media/img/calendar.svg')}")
              %p.card-text= t('.request_session')
        .col-12.col-md-4
          .card
            .card-body.text-center
              .image-block
                = image_tag("#{asset_pack_path('media/img/karate.svg')}")
              %p.card-text= t('.meet_earn')


  %section.trainers-card.welcome
    .container
      .row.h-100.text-center.trainers-card-title
        .col-12
          %h2
            %h1= t('.find_trainers')

      .trainers-card-body
        .row
          - 4.times do
            = render partial: 'welcome/index/partials/near_merchant'

%section.contact-us
  .container
    .d-flex.flex-column.flex-md-row.justify-content-md-between.text-center.align-items-center.contact-us-body
      .contact-us-message
        %h4= t('.any_questions')
      %div
        = link_to t('.questions_btn'), root_path, class: 'btn btn-blue-bordered m-2'
