@import "../../../../frontend/init/custom/colors"
@import "../../../../frontend/init/custom/buttons"
@import "../../../../frontend/init/typography"
@import "../../../../frontend/init/breakpoints"


.modal.show.modal-request-booking .modal-dialog
  margin: 0 0 0 auto
  height: 100%
  max-width: 445px
  .modal-content
    max-height: 100%
    overflow-y: auto

.request-booking
  padding: 20px 30px 50px
  @include media-breakpoint-down(md)
    padding: 20px 15px 30px
  &-header
    display: flex
    align-items: center
    padding-bottom: 30px
    &-title
      font-size: 18px
      padding-right: 20px
      @extend %news-gothic-bold
    &-close
      position: absolute
      top: 27px
      right: 30px
      @include media-breakpoint-down(md)
        top: 23px
        right: 13px
      .close
        font-size: 31px
  .label
    padding: 20px 0 10px
  &-form
    &-line
      display: flex
      justify-content: space-between
      .profile-builder-field-block
        width: 49%

.payment-details
  padding: 50px 0 0 0
  .payment-details-title
    font-size: 14px
    padding-bottom: 12px
    @extend %news-gothic-bold
  .payment-details-text
    font-size: 14px
    padding-bottom: 25px
  .payment-details-table
    .payment-details-table-line
      display: flex
      justify-content: space-between
      padding-bottom: 11px
      .payment-details-table-line-name
        color: $gray-muted
        font-size: 16px
      .payment-details-table-line-count
        font-size: 16px
        @extend %news-gothic-bold
    .payment-details-table-total
      padding-top: 11px
      border-top: 1px solid #E7E7E7
      display: flex
      justify-content: flex-end
      .payment-details-table-total-text
        @extend %news-gothic-bold
        color: $gray-muted
        font-size: 16px
        padding-right: 20px
      .payment-details-table-total-value
        @extend %news-gothic-bold
        font-size: 16px

.payment-method
  padding-top: 50px
  .payment-method-title
    font-size: 14px
    padding-bottom: 12px
    @extend %news-gothic-bold
  .payment-method-buttons
    .payment-btn
      background: none
      border: 1px solid #E7E7E7
      height: 60px
      line-height: 58px
      padding: 0 20px
      border-radius: 4px
      box-shadow: none
      outline: none
      margin-right: 5px

      i
        color: #000
      span
        font-size: 14px
        color: $gray-muted
        padding-left: 8px
      &.active
        border-color: $light-blue
        i
          color: $light-blue
        span
          color: #000

  .label
    font-size: 14px

  &-form-inner-columns
    display: flex
    justify-content: space-between
    & > div
      width: 32%
