= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Manage Profile', btn_text: 'Edit', btn_url: edit_profile_users_path }


.container
  .row
    .col-sm-4.col-md-3.col-lg-2.col-xl-2
      .text-center.text-md-left
        %img.avatar.rounded-circle.img-thumbnail{:alt => "avatar", :src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png", height: '150', width: '150'}
    .col-sm-8.col-md-9.col-lg-10.col-xl-10
      %p.mb-1= user.full_name
      %p.mb-1= user.email

      %p.mb-2.mt-4 Manage your payout method
      %button.btn.btn-primary Connect your account

      %p.mb-2.mt-4 Earn discounts
      %button.btn.btn-secondary Invite friends to earn discounts
