@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"

.user-profile
  .user-profile-header
    background: $soft_gray
    border-bottom: 1px solid #E6E6E6
    padding: 20px 0 15px
    .container
      display: flex
      justify-content: space-between
      @include media-breakpoint-down(xs)
        display: block

  .user-profile-about
    padding-top: 30px
    .text
      font-style: italic
      font-size: 16px
      padding-bottom: 25px
      margin: 0
    .subtitle
      @extend %news-cycle
      margin: 0
      font-size: 20px
      padding-bottom: 25px
      font-weight: bold
      color: $light-blue

  .user-profile-contact
    .user-profile-contact-title
      padding: 10px 0 35px
      display: flex
      img
      .name
        @extend %news-gothic-bold
        font-size: 12px
        text-transform: uppercase
        padding-left: 10px
        position: relative
        top: -1px
    .user-profile-contact-item
      border-radius: 4px
      border: 1px solid #E6E6E6
      padding: 30px 20px
      display: flex
      align-items: center
      justify-content: space-between
      @include media-breakpoint-down(md)
        display: block
        position: relative
      &:not(:first-child)
        margin-top: 15px
      & > div
        display: flex
        align-items: center
        @include media-breakpoint-down(md)
          display: block
      &-title
        @extend %news-gothic-bold
        font-size: 16px
        display: flex
        align-items: center
      .price-per
        padding-right: 20px
      .btn
        background: #474A63!important
        border: 1px solid #474A63!important
        @include media-breakpoint-down(md)
          position: absolute
          right: 15px
          top: 50%
          transform: translateY(-50%)

      &.active
        border: 1px solid $light-blue
        .btn
          background: $light-blue!important
          border: 1px solid $light-blue!important

  .user-profile-list
    padding-bottom: 45px
    .user-profile-list-title
      padding: 60px 0 30px
      font-size: 16px
      @extend %news-gothic-bold
    .row
      .col-md-4
        @include media-breakpoint-down(md)
          &:not(:first-child)
            margin-top: 15px
        .user-profile-list-line
          font-size: 16px
          color: $gray-muted
          display: flex
          &:not(:first-child)
            margin-top: 14px
          .icon-block
            width: 35px
            img
            b
              @extend %news-gothic-bold
              color: #000

  .user-profile-text-block
    padding-bottom: 80px
    &.line
      border-bottom: 1px solid #E6E6E6
    .user-profile-text-block-title
      font-size: 16px
      @extend %news-gothic-bold
    .user-profile-text-block-text
      font-size: 16px
      &.red
        color: #FF5757



  .user-profile-rating
    display: flex
    padding: 60px 0
    border-bottom: 1px solid #E6E6E6
    &-value
      width: 120px
      &-number
        @extend %news-gothic-bold
        font-size: 50px
        text-align: center
        color: $light-blue
        line-height: 1
      &-text
        font-size: 16px
        color: $light-blue
        text-align: center
      &-btn
        margin-top: 15px
        color: $gray-muted!important
        font-size: 12px
        border-radius: 4px
        border: 1px solid $gray-muted
        height: 30px
        line-height: 30px
        text-align: center
        text-decoration: none
        display: block
        width: 100px

    &-progress
      padding-left: 15px
      width: 100%
      &-line
        padding: 7px 0 2px
        display: flex
        justify-content: space-between
        position: relative
        border-bottom: 2px solid #E6E6E6
        & > div
          color: #000
          font-size: 12px
          @extend %news-gothic-bold
        .prog-line
          position: absolute
          bottom: -2px
          left: 0
          height: 2px
          background: #31c7b9
          &.w-97
            width: 97%
          &.w-95
            width: 95%
          &.w-99
            width: 99%
          &.w-90
            width: 90%


  .user-profile-reviews
    &-header
      padding: 55px 0 15px
      display: flex
      justify-content: space-between
      align-items: center
      &-count
        font-size: 16px
        @extend %news-gothic-bold
      .btn
        background: #474A63!important
        border: 1px solid #474A63!important



    &-block
      padding-bottom: 40px
      &-item
        display: flex
        padding-bottom: 15px
        &-avatar
          width: 60px
          flex-shrink: 0
          img
            display: block
            max-width: 100%
            border-radius: 2px
        &-info
          padding-left: 15px
          .reviews-details
            display: flex
            align-items: center

            .reviews-details-name
              font-size: 14px
              @extend %news-gothic-bold
              padding-right: 20px
              position: relative
              top: 2px
            .stars
              %span.stars-sym
              %span.rate
          .reviews-text
            font-size: 14px
            padding: 4px 0 6px
          .reviews-date
            font-size: 12px
            color: $gray-muted
      .btn-emty-grey
        margin-left: 60px
        @include media-breakpoint-down(md)
          margin-left: 4.7rem
