-#%p= link_to 'Full Calendar', '#', data: { target: '.bd-example-modal-xl', toggle: 'modal'  }, class: 'text-purple'
-#
-#
-#= render partial: 'shared/modals/full_calendar/full_calendar'


.user-profile
  .user-profile-header
    .container
      .user-profile-info
        .user-profile-info-img
          = image_tag(merchant.avatar.url)
        .user-profile-info-details
          .user-profile-info-details-title= merchant.full_name
          .user-profile-info-details-adress Miami, Florida, 33138
          %button.btn.btn-black Black Belt
      .user-profile-header-rate
        .user-profile-header-rate-line
          .user-profile-header-rate-line-name Hourly rate
          %div
            .price-per.ml-auto.d-flex.flex-row
              %span.price= merchant.hourly_rate
              %span.per /hr
        .user-profile-header-rate-line
          .user-profile-header-rate-line-name 47 Reviews
          %div
            .stars
              %span.stars-sym &#11089;&#11089;&#11089;&#11089;&#11089;
              %span.rate 9.7
        %button.btn.btn-primary Request Booking
  .container
    .row
      .col-md-8
        .user-profile-about
          %p.text I am Peter Tanapat. I am Black Betl and neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.
          %p.subtitle Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur
          %p.text I am Peter Tanapat. I am Black Betl and neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.

        .user-profile-contact
          .user-profile-contact-title
            = image_tag("#{asset_pack_path('media/img/message.svg')}")
            .name Contact Peter
          %div
            .user-profile-contact-item.active
              .user-profile-contact-item-title Private
              %div
                .price-per.ml-auto.d-flex.flex-row
                  %span.price $75
                  %span.per /hr
                %button.btn.btn-primary Request Booking
            .user-profile-contact-item
              .user-profile-contact-item-title Roll Review
              %div
                .price-per.ml-auto.d-flex.flex-row
                  %span.price $50
                  %span.per /hr
                %button.btn.btn-primary Request Booking
            .user-profile-contact-item
              .user-profile-contact-item-title Skype Conversation
              %div
                .price-per.ml-auto.d-flex.flex-row
                  %span.price $30
                  %span.per /hr
                %button.btn.btn-primary Request Booking

        .user-profile-list
          .user-profile-list-title Specialities
          .row
            .col-md-4
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/running.svg')}")
                %span Gi
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/motivation.svg')}")
                %span Kimura
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/sand-bag.svg')}")
                %span Armbars
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/running.svg')}")
                %span Front Headlock
            .col-md-4
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/sand-bag.svg')}")
                %span Smash Punching
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/motivation.svg')}")
                %span No Gi
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/running.svg')}")
                %span Rubber Guard
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/motivation.svg')}")
                %span Peruvian Necktie
            .col-md-4
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/running.svg')}")
                %span Leglocks
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/karate2.svg')}")
                %span Full Guard
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/sand-bag.svg')}")
                %span Kneebars

        .user-profile-list
          .user-profile-list-title Rules
          .row
            .col-md-4
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/group.svg')}")
                %span No recordings
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/shape.svg')}")
                %span No food allowed
              .user-profile-list-line
                .icon-block
                  = image_tag("#{asset_pack_path('media/img/boutle.svg')}")
                %span Drinks allowed

        .user-profile-list
          .user-profile-list-title Guests
          .row
            .col-md-4
              .user-profile-list-line
                .icon-block
                  %b 10
                %span Maximum allowed
              .user-profile-list-line
                .icon-block
                  %b No
                %span Children allowed?
              .user-profile-list-line
                .icon-block
                  %b No
                %span Infants allowed?

        .user-profile-text-block
          .user-profile-text-block-title Travel Policy
          .user-profile-text-block-text I will travel to you 15 miles or within 0.5 hours drive from my location

        .user-profile-text-block.line
          .user-profile-text-block-title Cancellation Policy
          .user-profile-text-block-text.red You may cancel upto 72 hours before the booking.

        .user-profile-rating
          .user-profile-rating-value
            .user-profile-rating-value-number 9.7
            .user-profile-rating-value-text Exelent
            %a.user-profile-rating-value-btn{:href => "#"} 193 Reviews

          .user-profile-rating-progress
            .user-profile-rating-progress-line
              %div Rating
              %div 97%
              .prog-line.w-97
            .user-profile-rating-progress-line
              %div Rating
              %div 95%
              .prog-line.w-95
            .user-profile-rating-progress-line
              %div Rating
              %div 99%
              .prog-line.w-99
            .user-profile-rating-progress-line
              %div Rating
              %div 90%
              .prog-line.w-90

        .user-profile-reviews
          .user-profile-reviews-header
            .user-profile-reviews-header-count 193 Reviews
            %button.btn.btn-primary Write a Review

          .user-profile-reviews-block
            .user-profile-reviews-block-item
              .user-profile-reviews-block-item-avatar
                = image_tag("#{asset_pack_path('media/img/user-reviews.png')}")
              .user-profile-reviews-block-item-info
                .reviews-details
                  .reviews-details-name Brian Rice
                  .stars
                    %span.stars-sym &#11089;&#11089;&#11089;&#11089;&#11089;
                    %span.rate 9.7
                .reviews-text Maecenas nec odio et ante tincidunt tempus vitae sapien ut libero? Venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget.
                .reviews-date 10 May 2019
            .user-profile-reviews-block-item
              .user-profile-reviews-block-item-avatar
                = image_tag("#{asset_pack_path('media/img/user-reviews.png')}")
              .user-profile-reviews-block-item-info
                .reviews-details
                  .reviews-details-name Brian Rice
                  .stars
                    %span.stars-sym &#11089;&#11089;&#11089;&#11089;&#11089;
                    %span.rate 9.7
                .reviews-text Maecenas nec odio et ante tincidunt tempus vitae sapien ut libero? Venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget.
                .reviews-date 10 May 2019
            .user-profile-reviews-block-item
              .user-profile-reviews-block-item-avatar
                = image_tag("#{asset_pack_path('media/img/user-reviews.png')}")
              .user-profile-reviews-block-item-info
                .reviews-details
                  .reviews-details-name Brian Rice
                  .stars
                    %span.stars-sym &#11089;&#11089;&#11089;&#11089;&#11089;
                    %span.rate 9.7
                .reviews-text Maecenas nec odio et ante tincidunt tempus vitae sapien ut libero? Venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget.
                .reviews-date 10 May 2019

            %button.btn-emty-grey
              %b View All

      .col-md-4
        = render partial: 'profile/show/partials/profile_sidebar/sidebar', locals: { merchant: merchant}
