@import "colors"

.belt
  position: absolute
  bottom: 0
  left: 0
  right: 0
  color: white
  text-align: center
  text-transform: uppercase
  font-size: 12px
  line-height: 14px
  padding: .4rem .3rem

.belt.black
  background-color: rgba(0, 0, 0, 0.75)
.belt.brown
  background-color: rgba(25, 87, 42, 0.75)
.belt.blue
  background-color: rgba(7, 85, 216, 0.75)
.belt.purple
  background-color: rgba(79, 30, 193, 0.75)
