@import "colors"
@import "../typography"

.btn-primary-bjj
  font-size: 14px
  line-height: 16px
  color: $white
  background-color: $primary_blue
  border-color: $primary_blue
  text-transform: uppercase


.big-yellow-btn
  @extend %news-cycle
  letter-spacing: 1.05px
  background-color: $yellow !important
  color: $primary_blue!important
  text-transform: uppercase
  font-size: 14px!important
  line-height: 20px!important
  padding: .5rem 1rem !important

.btn-primary
  @extend %modal-btn
  background-color: $light-blue !important
  border-color: $light-blue !important
  &:hover, &:active, &:visited, &:focus, &:not(:disabled):not(.disabled):active
    background-color: $light-blue-hover !important
  &.disabled, &:disabled
    background-color: $light-blue-disabled !important
    border-color: $light-blue-disabled !important
  &.focus, &:focus, &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus
    box-shadow: 0 0 0 0.2rem rgba(93, 122, 246, 0.5)

.btn-secondary
  @extend %modal-btn
  background-color: $light-green !important
  border-color: $light-green !important
  &:hover, &:active, &:visited, &:focus, &:not(:disabled):not(.disabled):active
    background-color: $light-green-hover !important
  &.disabled, &:disabled
    background-color: $light-green-disabled !important
    border-color: $light-green-disabled !important
  &.focus, &:focus, &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus
    box-shadow: 0 0 0 0.2rem rgba(67, 168, 164, 0.5)

.btn-blue-bordered
  @extend %news-cycle
  border: 3px solid $white
  border-radius: 0
  background-color: $deep_blue
  color: $white
  padding: 10px 40px
  text-transform: uppercase
  font-weight: bold
  font-size: 16px
  line-height: 26px
  letter-spacing: 0.4px
  &:hover
    background-color: $white
    color: $deep_blue
    border: 3px solid $deep_blue

.btn-no-bg-no-bordered
  background: none
  border-color: transparent
  padding: 10px 30px
  color: $gray-muted

.btn-primary-no-bg
  @extend %news-gothic-bold
  border: 2px solid $light-blue
  color: $light-blue
  font-size: 12px
  text-transform: uppercase
  padding: 0 20px
  line-height: 46px
  height: 46px

.btn-black
  @extend %news-gothic-bold
  background: #000
  border: 1px silid #000
  padding: 0 20px
  width: 92px
  height: 24px
  line-height: 24px
  color: #fff
  font-size: 10px
  &:hover
    color: #fff

.btn-emty-grey
  background: none
  font-size: 12px
  border: 1px solid #E6E6E6
  height: 35px
  line-height: 35px
  padding: 0 30px
  border-radius: 4px
  b
    text-transform: uppercase
    @extend %news-gothic-bold


// .radio-toolbar
.radio-toolbar
  display: flex
  input[type="radio"]
    opacity: 0
    position: fixed
    width: 0
  label
    width: 73px
    height: 43px
    line-height: 41px
    display: block
    text-align: center
    font-size: 16px
    border: 1px solid $gray-muted
    cursor: pointer

    &:nth-child(2)
      border-top-left-radius: 4px
      border-bottom-left-radius: 4px
      border-right: none

    &:nth-child(4)
      border-left: none
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px
      // margin-left: -5px
      border-left: none
  input[type="radio"]
    &:focus + label
      background: none
    &:checked + label
      background: $light-blue
      color: #fff
      border-color: $light-blue
// END .radio-toolbar

// .checkbox-block
.checkbox-block
  display: block
  position: relative
  padding-left: 35px
  cursor: pointer
  font-size: 22px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  color: $gray-muted
  line-height: 17px
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

  .checkmark
    position: absolute
    top: 0
    left: 0
    height: 20px
    width: 20px
    border: 1px solid #E6E6E6
    border-radius: 2px
    background: white

  input:checked ~ .checkmark
    background-color: $light-blue
    border: 1px solid $light-blue

  .checkmark:after
    content: ""
    position: absolute
    display: none

  input:checked ~ .checkmark:after
    display: block
  .checkmark:after
    left: 7px
    top: 3px
    width: 5px
    height: 10px
    border: solid white
    border-width: 0 3px 3px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)
//END .checkbox-block
