@import "../breakpoints"
@import "../typography"
@import "colors"

html, body
  @extend %type-defaults


.gray-form
  @extend %type-defaults
  input:not([type="submit"]), select, textarea
    background-color: $soft_gray
    border: none
    border-radius: 2px
  textarea:focus
    background-color: $soft_gray

.body-padding
  padding-top: 160px
  &-welcome
    padding-top: 0
  &-search
    padding-top: 100px
  &-profile
    padding-top: 65px


.backend-errors
  color: $red
  font-size: 14px

.front-errors
  color: $red
  margin: 0
  font-size: 14px

.mt-20
  margin-top: 20px
.mt-30
  margin-top: 30px

.nobreak
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

@include media-breakpoint-up(lg)
  .hide-on-desktop
    display: none!important

@include media-breakpoint-down(md)
  .hide-on-mobile
    display: none!important


.stars
  span.stars-sym
    font-size: 18px
    color: $orange
  span.rate
    @extend %news-gothic-bold
    font-size: 14px
    color: $black

.price-per
  font-size: 0
  span.price, span.per
    font-size: 18px
    line-height: 20px
  span.price
    @extend %news-gothic-bold
    color: $light-blue
  span.per
    color: $gray-muted



.user-profile-info
  display: flex
  .user-profile-info-img
    img
      width: 100px
      height: 100px
      object-fit: cover
      border-radius: 3px

  .user-profile-info-details
    padding-left: 15px
    margin-top: 8px
    .user-profile-info-details-title
      @extend %news-gothic-bold
      font-size: 28px
      @include media-breakpoint-down(md)
        font-size: 20px
        line-height: 1
    .user-profile-info-details-adress
      font-size: 16px
      color: $gray-muted
    .btn

.user-profile-header-rate
  @include media-breakpoint-down(md)
    padding-top: 15px
  .user-profile-header-rate-line
    display: flex
    align-items: center
    .user-profile-header-rate-line-name
      color: $gray-muted
      font-size: 13px
      width: 100px
      line-height: 27px
