.inpute-field
  background: $soft_gray
  font-size: 14px
  border-radius: 2px
  border: none
  padding: 0 15px
  height: 43px
  line-height: 43px
  outline: none
  width: 100%
.textarea-field
  background: $soft_gray
  font-size: 14px
  border-radius: 2px
  border: none
  padding: 12px 15px
  height: 123px
  outline: none
  width: 100%
  resize: none
.select-field
  font-size: 14px
  background: $soft_gray
  border-radius: 2px
  border: none
  padding: 0 15px
  height: 43px
  line-height: 43px
  outline: none
  width: 100%
  text-indent: 5px
  &.tab-header
    background: none
    border-radius: 0
    border: 1px solid $soft_gray
  &.no-bg
    background: none
    border: 1px solid $soft_gray


.field-with-icon
  position: relative
  .inpute-field
    padding-left: 40px
  .fa
    position: absolute
    top: 50%
    left: 15px
    transform: translateY(-50%)
    color: $gray-muted



.switcher
  .switch-input
    display: none

  .switch-label
    position: relative
    display: inline-block
    cursor: pointer
    font-weight: 500
    text-align: left

    &:before, &:after
      content: ""
      position: absolute
      margin: 0
      outline: 0
      top: 50%
      -ms-transform: translate(0, -50%)
      -webkit-transform: translate(0, -50%)
      transform: translate(0, -50%)
      -webkit-transition: all 0.3s ease
      transition: all 0.3s ease

    &:before
      left: 1px
      width: 34px
      height: 14px
      background-color: #9E9E9E
      border-radius: 8px

    &:after
      left: 0
      width: 20px
      height: 20px
      background-color: #FAFAFA
      border-radius: 50%
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084)

    .toggle--on
      display: none

    .toggle--off
      display: inline-block

  .switch-input:checked + .switch-label
    &:before
      background-color: #bed6ff

    &:after
      background-color: $light_blue
      -ms-transform: translate(80%, -50%)
      -webkit-transform: translate(80%, -50%)
      transform: translate(80%, -50%)

    .toggle--on
      display: inline-block

    .toggle--off
      display: none
