@import "colors"
@import "buttons"
@import "../typography"
@import "../breakpoints"

.modal
  .modal-header
    align-items: center
    .close-in-word span
      font-size: 12px

  .modal-user-profile-block
    background: #F9F9F9
    padding: 10px 15px 10px
    display: flex
    justify-content: space-between
    align-items: center
    .user-profile-info
      &-img
        img
          width: 86px
          height: 86px
    .user-profile-info-details-title
      font-size: 18px
  .profile-block-subtitle
    color: #fff
    font-weight: bold
    background: linear-gradient(178.61deg, #5C2774 0%, #335CC5 49.97%, #637FFD 100%)
    padding: 6px 0
    font-size: 14px
    text-transform: uppercase
    text-align: center
