.range-fill
  height: 10px
  background: $light_blue
  position: absolute
  bottom: 5px
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px

.range-block
  padding-top: 20px
  width: 100%
  max-width: 600px

.box-minmax
  margin-top: 10px
  width: 125%
  display: flex
  justify-content: space-between
  font-size: 12px
  transform: translateX(-20%)
  color: $gray-muted
  div
    width: 20%
    display: inline-block
    text-align: right
    span
      display: inline-block
      transform: translateX(50%)
    &:first-child
      span
        transform: translateX(13px)
  div:last-child
    span
      transform: translateX(0)
.range-slider
  position: relative
.rs-range
  margin-top: 29px
  width: 100%
  -webkit-appearance: none
  &:focus
    outline: none
  &::-webkit-slider-runnable-track
    width: 100%
    height: 10px
    cursor: pointer
    box-shadow: none
    background: $soft_gray
    border-radius: 8px
    border: 0px solid red
  &::-moz-range-track
    width: 100%
    height: 10px
    cursor: pointer
    box-shadow: none
    background: $soft_gray
    border-radius: 8px
    border: 0px solid red
  &::-webkit-slider-thumb
    box-shadow: none
    border: 0px solid blue
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25)
    height: 22px
    width: 22px
    border-radius: 22px
    background: white
    cursor: pointer
    -webkit-appearance: none
    margin-top: -7px
  &::-moz-range-thumb
    box-shadow: none
    border: 0px solid blue
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25)
    height: 22px
    width: 22px
    border-radius: 22px
    background: white
    cursor: pointer
    -webkit-appearance: none
    margin-top: -20px
  &::-moz-focus-outer
    border: 0
.rs-label
  position: relative
  transform-origin: center center
  display: block
  width: 60px
  height: 25px
  background: $light_blue
  color: #fff
  text-align: center
  font-size: 12px
  line-height: 25px
  border-radius: 2px
  margin-left: -17px
  box-shadow: 0 0 10px rgba(0,0,0,0.5)

  &::after
    content: " hour"
    display: inline-block
    letter-spacing: 0.07em
    margin-left: 4px
  &::before
    content: ""
    display: block
    width: 0
    height: 0
    border-left: 4px solid transparent
    border-right: 4px solid transparent
    border-top: 4px solid $light_blue
    position: absolute
    top: 100%
    left: 50%
    margin-left: -6px
