.profile-builder-tabs
  border-bottom: 1px solid #E6E6E6
  display: flex
  .profile-builder-tabs-item
    padding: 13px 0
    flex-grow: 1
    text-align: center
    color: $gray-muted
    cursor: pointer
    &.active
      position: relative
      color: black
      &::after
        content: ""
        position: absolute
        bottom: -1px
        left: 0
        width: 100%
        height: 2px
        background: $light-blue
    &.passed
      position: relative
      color: $light-green

.profile-builder-block-title
  padding: 28px 0
  h2
    @extend %news-gothic-bold
    font-size: 16px
    margin: 0
  p
    color: $gray-muted
    font-size: 14px
    margin: 0
