@import "colors"
@import "buttons"
@import "../typography"
@import "../breakpoints"

.trainers-card
  .trainers-card-title
    margin-bottom: 60px
    @include media-breakpoint-down(md)
      margin: 0
    @extend %raleway
    h1
      font-weight: bold
      @include media-breakpoint-down(md)
        padding: 50px 0 30px
        font-size: 28px
        margin: 0

  .trainers-card-body
    .merchant-card
      @extend %type-defaults
      border-radius: 4px
      overflow: hidden
      .card-header .merchant-avatar
        position: relative
        height: 100%
        .belt
        img
          width: 100%
          height: 100%
          @include media-breakpoint-down(md)
            border-radius: 3px
      .card-body
        position: relative
        .merchant-wrapper
          .merchant-name
            display: flex
            font-size: 18px
            line-height: 20px
            margin-bottom: 12px
            .name
              @extend %news-gothic-bold
              @include media-breakpoint-down(md)
                font-size: 18px
          .merchant-location, .merchant-range
            font-size: 14px
            line-height: 16px
            color: $gray-muted
            margin-bottom: .5rem
          .rating
            display: flex
            align-items: flex-end
            .btn
              @extend %news-gothic-bold
              @include media-breakpoint-down(md)
                font-size: 12px
                background: none!important
                color: #5D7AF6 !important
                border: none!important
                padding-left: 0
                padding-right: 0
                position: relative
                top: 6px

@include media-breakpoint-down(md)
  .welcome-merchant-card
    .merchant-card
      padding: 16px
      .card-header
        .merchant-avatar
          .belt
            display: none

      .card-body
        .merchant-wrapper
          .merchant-name
            display: flex
            font-size: 18px
            line-height: 20px
            margin-bottom: 12px
            .name
                font-size: 18px
            .price-per
              font-size: 0
              display: none!important
          .rating
            .btn
              display: none
            .stars
              @include media-breakpoint-down(md)
                position: absolute
                left: -60px
                bottom: 0
                background: #fff
                width: 60px
                text-align: center
                border-top-left-radius: 20px
                span.stars-sym
                  width: 14px
                  display: inline-block
                  overflow: hidden
                  white-space: nowrap
                  position: relative
                  top: 4px
                span.rate
                  position: relative
                  top: -3px
                  background: -webkit-linear-gradient(#4662f9, #7e8bd2)
                  -webkit-background-clip: text
                  -webkit-text-fill-color: transparent
