= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Manage Profile', btn_text: 'Update', btn_url: '' }

.container
  .row
    .col-md-3.mb-3
      = render partial: 'users/shared/left_nav_bar'
    .col-md-9
      = form_with model: user, url: profile_users_path, method: :put, html: { novalidate: true, id: 'edit-login-form', class: 'gray-form' } do |f|
        .form-group
          = f.label :email
          = f.email_field :email, class: 'form-control'

        .form-group
          = f.label :password
          = f.password_field :password, class: 'form-control'

        .form-group
          = f.label :new_password
          = f.password_field :new_password, class: 'form-control'
