.user-profile-sidebar
  .user-profile-sidebar-info
    .user-profile-info
      .user-profile-info-img
        = image_tag(merchant.avatar.url)
      .user-profile-info-details
        .user-profile-info-details-title= merchant.full_name
        .user-profile-info-details-adress Miami, Florida, 33138
        %button.btn.btn-black Black Belt
    %div.rate-block
      %div
        .price-per.ml-auto.d-flex.flex-row
          %span.price= merchant.hourly_rate
          %span.per /hr
      %div
        .stars
          %span.stars-sym &#11089;&#11089;&#11089;&#11089;&#11089;
          %span.rate 9.7
    %button.btn.btn-primary Request Booking

  .user-profile-calendar
    = render partial: 'shared/event-calendar/event-calendar'

  .user-profile-map
    = image_tag("#{asset_pack_path('media/img/map.png')}")
  .user-profile-badge
    .user-profile-badge-title Badges Earned
    = image_tag("#{asset_pack_path('media/img/badge.png')}")
