@import "../../../../../frontend/init/custom/colors"
@import "../../../../../frontend/init/custom/buttons"
@import "../../../../../frontend/init/typography"
@import "../../../../../frontend/init/breakpoints"

.user-profile-sidebar
  padding: 30px 0
  position: sticky
  top: 60px
  & > div
    margin-bottom: 30px
    border-radius: 4px
    border: 1px solid #E6E6E6

  .user-profile-sidebar-info
    padding: 15px
    @include media-breakpoint-down(md)
      display: none!important
    .user-profile-info-img
      img
        @include media-breakpoint-down(md)
          width: 50px
          height: 50px
    .rate-block
      display: flex
      padding: 20px 0
      align-items: center
      justify-content: space-between
      border-bottom: 1px solid #E6E6E6
      margin-bottom: 20px
      .price-per,
      .price,
      .per
        font-size: 32px
        line-height: 32px
        @include media-breakpoint-down(md)
          font-size: 17px
          line-height: 17px

      .per
        position: relative
        top: -3px

  .user-profile-calendar
    padding: 10px

  .user-profile-map
    padding: 10px
    img
      max-width: 100%
      display: block

  .user-profile-badge
    padding: 15px
    &-title
      font-size: 14px
      @extend %news-gothic-bold
      padding-bottom: 15px
