%footer
  .container.main-footer
    .row
      .col-12
        %ul.list-unstyled.list-inline.text-center
          %li.list-inline-item
            = link_to t('.about_us'), root_path, class: 'text-dark'
          %li.list-inline-item
            = link_to t('.terms'), root_path, class: 'text-dark'
          %li.list-inline-item
            = link_to t('.privacy'), root_path, class: 'text-dark'
          %li.list-inline-item
            = link_to t('.contact_us'), root_path, class: 'text-dark'
    .row.footer-copyright.text-center.pt-5
      .col-12
        %p.mb-0 ALL RIGHTS RESERVED
        %p.mb-0 © 2019 BookBJJ
