.modal.fade.bd-example-modal-xl.full-calendar{"aria-hidden" => "true", "aria-labelledby" => "myExtraLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-xl
    .modal-content

      .modal-user-profile-block
        .user-profile-info
          .user-profile-info-img
            = image_tag("#{asset_pack_path('media/img/user-pic.png')}")
          .user-profile-info-details
            .user-profile-info-details-title Peter Tanapat
            .user-profile-info-details-adress Miami, Florida, 33138
            %button.btn.btn-black Black Belt
        .user-profile-header-rate
          .user-profile-header-rate-line
            .user-profile-header-rate-line-name Hourly rate
            %div
              .price-per.ml-auto.d-flex.flex-row
                %span.price $40
                %span.per /hr
          .user-profile-header-rate-line
            .user-profile-header-rate-line-name 47 Reviews
            %div
              .stars
                %span.stars-sym &#11089;&#11089;&#11089;&#11089;&#11089;
                %span.rate 9.7
      .profile-block-subtitle JULY AVAILABILITIES


      %p= link_to 'Request Booking', '#', data: { target: '#exampleModal', toggle: 'modal'  }, class: 'text-purple'
      = render partial: 'shared/modals/booking/booking'
