@import "../../../frontend/init/custom/colors"
@import "../../../frontend/init/custom/buttons"
@import "../../../frontend/init/typography"
@import "../../../frontend/init/breakpoints"


.manage-bookings
  background: #F2F2F2
  margin-top: -30px
  &-tabs
    border-bottom: 1px solid #E6E6E6
    display: flex
    justify-content: flex-start
    margin-bottom: 20px

    &-item
      font-size: 12px
      padding: 10px 20px
      border-bottom: 2px solid transparent
      margin-bottom: -2px
      text-transform: uppercase
      &.active
        color: $light_blue
        border-bottom: 2px solid $light_blue
        @extend %news-gothic-bold

.manage-bookings-nav
  padding-top: 40px
  &-item
    font-size: 16px
    margin-bottom: 20px
    &.active
      color: $light_blue
      @extend %news-gothic-bold


.manage-bookings-table
  overflow-x: auto
  padding-top: 30px
  & > div
    min-width: 600px
  &-header
    display: flex
    justify-content: space-between
    border-bottom: 2px solid #E6E6E6
    &-item
      font-size: 14px
      @extend %news-gothic-bold
      color: #E6E6E6
      padding: 10px 0
      &:nth-child(1)
        width: 30%
      &:nth-child(2)
        width: 20%
      &:nth-child(3)
        width: 10%
      &:nth-child(4)
        width: 15%
      &:nth-child(5)
        width: 15%
      &:nth-child(6)
        width: 10%
  &-line
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #E6E6E6
    padding: 10px 0
    font-size: 14px
    .fa
      margin: 0 7px
    .red
      color: #FF5757
    &-item
      display: flex
      align-items: center
      &:nth-child(1)
        width: 30%
      &:nth-child(2)
        width: 20%
      &:nth-child(3)
        width: 10%
      &:nth-child(4)
        width: 15%
      &:nth-child(5)
        width: 15%
      &:nth-child(6)
        width: 10%
      img
        margin-right: 15px
        width: 40px
        border-radius: 100%
