= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Manage Booking', btn_text: nil, btn_url: nil }


.manage-bookings
  .container
    .manage-bookings-tabs
      .manage-bookings-tabs-item.active Teaching
      .manage-bookings-tabs-item Learning
.container
  .row
    .col-md-3
      .manage-bookings-nav
        .manage-bookings-nav-item.active Active
        .manage-bookings-nav-item Completed
    .col-md-9
      .manage-bookings-table
        %div
          .manage-bookings-table-header
            .manage-bookings-table-header-item Name
            .manage-bookings-table-header-item Type
            .manage-bookings-table-header-item Pay
            .manage-bookings-table-header-item Location
            .manage-bookings-table-header-item Date / Date Due
            .manage-bookings-table-header-item Prority
          .manage-bookings-table-line
            .manage-bookings-table-line-item
              = image_tag("#{asset_pack_path('media/img/user-pic.png')}")
              %span Jason lee
            .manage-bookings-table-line-item Private Session
            .manage-bookings-table-line-item $75
            .manage-bookings-table-line-item My Gym
            .manage-bookings-table-line-item September 17
            .manage-bookings-table-line-item.red
              High
              %i.fa.fa-info-circle
          .manage-bookings-table-line
            .manage-bookings-table-line-item
              = image_tag("#{asset_pack_path('media/img/user-pic.png')}")
              %span Jason lee
            .manage-bookings-table-line-item Private Session
            .manage-bookings-table-line-item $75
            .manage-bookings-table-line-item My Gym
            .manage-bookings-table-line-item September 17
            .manage-bookings-table-line-item.red
              High 
              %i.fa.fa-info-circle
          .manage-bookings-table-line
            .manage-bookings-table-line-item
              = image_tag("#{asset_pack_path('media/img/user-pic.png')}")
              %span Jason lee
            .manage-bookings-table-line-item Private Session
            .manage-bookings-table-line-item $75
            .manage-bookings-table-line-item My Gym
            .manage-bookings-table-line-item September 17
            .manage-bookings-table-line-item Normal
