= render partial: 'shared/sub_header/sub_header', locals: { header_title: 'Manage Profile', btn_text: 'Update', btn_url: '' }

.container
  .row
    .col-md-3.mb-3
      = render partial: 'users/shared/left_nav_bar'
    .col-md-9
      .row
        .col-12.col-lg-3
          .text-center.text-lg-left
            %img.avatar.rounded-circle.img-thumbnail.mb-3{:alt => "avatar", :src => "http://ssl.gstatic.com/accounts/ui/avatar_2x.png", height: '150', width: '150'}
            %div
              = link_to 'Upload new photo', '#', class: 'text-purple'
        .col-12.col-lg-9
          = form_with model: user, url: user_path(user), method: :put, html: { novalidate: true, id: 'edit-profile-form', class: 'gray-form' } do |f|
            .form-group
              = f.label :first_name
              = f.text_field :first_name, class: 'form-control'

            .form-group
              = f.label :last_name
              = f.text_field :last_name, class: 'form-control'

            .row
              .col-md-6
                .form-group
                  = f.label :phone
                  = f.text_field :phone, class: 'form-control'

              .col-md-6
                .form-group
                  = f.label :rank
                  = f.text_field :rank, class: 'form-control'

            .form-group
              = f.label :about
              = f.text_area :about, cols: 40, rows: 5, class: 'form-control'
