#login-modal.modal.fade{ aria: { hidden: true }, role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h5.modal-title= t('.title')
        %button.close.close-in-word{ aria: { label: 'Close'}, data: { dismiss: 'modal' }, type: 'button'}
          %span{ aria: { hidden: true } } CLOSE
      .modal-body
        %login-form{'inline-template' => ''}
          %div
            %validation-errors{':errors': "validationErrors", 'v-if': "validationErrors"}
            = form_with url: login_auth_index_path, html: { id: 'login-form', '@submit.stop.prevent': 'loginSubmit' } do |f|
              .form-group
                = f.label :email, 'Enter Address'
                = f.email_field :email, class: 'form-control', id: 'login-email', '@blur': "$v.user.email.$touch()", 'v-model': "user.email"
                .front-errors{'v-if': "$v.user.email.$dirty"}
                  %p{'v-if': "!$v.user.email.email"} Please provide a valid email address.
                  %p{'v-if': "!$v.user.email.required"} This field must not be empty.
              .form-group
                = f.label :password, 'Password'
                = f.password_field :password, class: 'form-control', id: 'login-password', '@blur': "$v.user.password.$touch()", 'v-model': "user.password"
                .front-errors{'v-if': "$v.user.password.$dirty"}
                  %p{'v-if': "!$v.user.password.required"} This field must not be empty.
                  %p{'v-if': "!$v.user.password.minLen"} Password should be at least {{ $v.user.password.$params.minLen.min }} characters.

              .row.form-group
                .col-sm-6.col-form-label
                  .form-check.form-check-inline.mr-1
                    .checkbox-block
                      = f.label :remember_me, class: 'form-check-label' do
                        Remember Me
                        = f.check_box :remember_me, class: 'form-check-input', 'v-model' => 'user.remember'
                        %span.checkmark

                .col-sm-6.col-form-label.text-right
                  = link_to 'Forgot Password?', '#', class: 'text-purple'

              = f.submit 'Login', class: 'btn btn-primary'


      .modal-footer
        %span No account yet? #{link_to 'Sign Up', '#', class: 'sign-up-link text-purple'}
