@import "../../../../frontend/init/custom/colors"
@import "../../../../frontend/init/typography"
@import "../../../../frontend/init/breakpoints"


#login-modal
  @extend %news-gothic-bold

  .modal-dialog
    @include media-breakpoint-up(md)
      margin-top: 5rem


  .modal-header
    border-bottom: none

    .modal-title
      font-size: 18px
      line-height: 21px
    .close
      @extend %news-gothic-bold

  .modal-body
    @extend %type-defaults

    input
      background-color: $soft_gray
      border: none
      border-radius: 2px

    .text-purple
      @extend %news-gothic-bold
      font-size: 12px
    .form-check-label
      font-size: 16px

  .modal-footer
    @extend %type-defaults
    justify-content: center
    font-size: 14px
    line-height: 16px
    background-color: $soft_gray
    padding: 30px 10px 30px

    .sign-up-link
      @extend %news-gothic-bold
      text-transform: uppercase
      font-size: 14px
      line-height: 16px
