.animated-icon
  width: 30px
  height: 20px
  position: relative
  margin: 0px
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer

  span
    display: block
    position: absolute
    height: 3px
    width: 100%
    border-radius: 9px
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
    background: #f3e5f5

  span:nth-child(1)
    top: 0px
    -webkit-transform-origin: left center
    -moz-transform-origin: left center
    -o-transform-origin: left center
    transform-origin: left center

  span:nth-child(2)
    top: 10px
    -webkit-transform-origin: left center
    -moz-transform-origin: left center
    -o-transform-origin: left center
    transform-origin: left center

  span:nth-child(3)
    top: 20px
    -webkit-transform-origin: left center
    -moz-transform-origin: left center
    -o-transform-origin: left center
    transform-origin: left center

  &.open span:nth-child(1)
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)
    top: 0px
    left: 8px

  &.open span:nth-child(2)
    width: 0%
    opacity: 0

  &.open span:nth-child(3)
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)
    top: 21px
    left: 8px
