!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BookBjj
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application', media: 'all'

    -# Non Critical Css and JS
    = javascript_pack_tag 'deferred', defer: true
    = stylesheet_pack_tag 'deferred', media: 'all', defer: true
  %body{ class: body_padding(params[:controller]) }
    #book-bjj
      = render 'shared/header/header'
      = flash_messages!
      = yield
      - if landing_page?
        = render 'shared/footer/footer'

      -# better idea replace with vue.js components
      = render partial: 'shared/modals/signup/signup'
      = render partial: 'shared/modals/login/login'
